#!/usr/bin/make -f

export GOROOT := /usr/lib/go-1.18
export GOPATH := $(CURDIR)
export PATH := $(PATH):$(GOROOT)/bin:$(GOPATH)/bin
export GOCACHE := /tmp

DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/default.mk
DEB_BUILD_OPTIONS=nostrip

override_dh_strip:

override_dh_strip_nondeterminism:

%:
	dh $@ --with systemd
